
{% extends 'base.html.twig' %}

{% block title %}Simple Chat Test Project{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

    <h1 class="text-center mt-5 mb-5">Simple Chat Test Project</h1>

    <div class="row justify-content-center">
        <div class="col-md-4 mt-2">
            {{ form_start(form, {'attr': {'novalidate': true, 'id': 'chat-form'} }) }}
            {{ form_widget(form) }}
        </div>
        {# Тут с mt-3 подгон под результат, но лучше пока реализовать не удалось #}
        <div class="align-self-center mt-3">
            <button type="submit" class="btn btn-success js-btn-submit">Отправить</button>
        </div>
            {{ form_end(form) }}
    </div>

    <span id="post-table">
        {{ render(controller('\\App\\Controller\\PostController::postTable')) }}
    </span>

{% endblock %}
