
{% extends 'base.html.twig' %}

{% block title %}Simple Chat Test Project{% endblock %}

{% block stylesheets %}
    <style>
        .form-inline {
            width: 50%;
            margin: 0 auto;
        }

        .form-inline .input-group {
            width: 100%;
        }

        @media screen and (max-width: 900px) {
            .form-inline {
                width: 100%;
                margin: 0 20px;
            }
        }
    </style>
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

    <h1 class="text-center mt-5 mb-5">Simple Chat Test Project</h1>

    <div class="row justify-content-center">
        {{ form_start(form, {'attr': {'class': 'form-inline', 'novalidate': true, 'id': 'chat-form'}}) }}
        <div class="input-group">
            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
            <div class="input-group-append">
                <button type="submit" class="btn btn-success js-new-talk">Send</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <span id="post-table">
        {{ render(controller('\\App\\Controller\\PostController::postTable')) }}
    </span>

{% endblock %}
